

$border-color: #eee;
$border-solid-1: 1px solid $border-color;
$font-size-middle: var(--font-size-middle);
$border-radius-big: var(--border-radius-big);
$white: var(--color-white);

// title
$font-weight-bold: 500;
// content
$padding-4n: var(--padding-4n);
$font-line-height-base: var(--font-line-height-base);
$text-color-primary: var(--text-color-primary);

$border-radius-small: 5px;
$font-size-small:12px;
// bottom
$action-sheet-bg-color: var(--background-color);
$font-line-height-small: 22px;
$text-color-regular: #4f5a70;
$padding-2n: 8px;
$padding-3n: 12px;

