.popover-page {
  padding: 0;
  margin: 0;

  .popover-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 60px;
    line-height: 24px;
    text-indent: 2em;
  }

  .popover-container--base {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 50px;
    padding: 60px 100px 20px;
  }

  .popover-container--position {
    display: flex;
    gap: 30px;
    padding: 50px 100px;

    .popover-position-item {
      height: 200px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;

      &:nth-child(2) {
        justify-content: space-between;
      }
    }

    .popover-position-item__top,
    .popover-position-item__bottom {
      display: flex;
      justify-content: center;
      gap: 20px;
    }
  }

  .popover-container--scroll {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100px;
    overflow-y: scroll;
    padding: 200px 0;

    & > div {
      flex-grow: 0;
      margin: 100px 200px;
    }
  }

  .dzq-button {
    min-width: 80px;
  }

  .dzq-avatar {
    cursor: pointer;
  }
}
