# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/
!/packages/discuz-cli/bin

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
.idea
node_modules/
package-lock.json
.eslintcache
.next
.DS_Store
.idea
my-dzq
my-dzq-static

lerna-debug.log
