$border-color: #90B2F8;
$play-background-color: var(--color-primary);
$icon-color-white: var(--color-white);
$bg-background-color: var(--background-color);
$text-secondary: var(--color-text-secondary);
$text-font: var(--font-size-primary);
$disabled-background-color: var(--color-disabled);

// 录音组件背景主色调
$plugin-background-color: #f5f7f8;
// 录音组件文字颜色
$text-color: #4f5a70;
// 进度条背景圆环颜色
$progress-background-color: #dfe9f8;