$color-primary-5: var(--color-primary3);
$color-success-5: var(--color-success);
$color-warning-5: var(--color-warn);
$color-danger-5: var(--color-error);
$color-disabled-5: var(--color-disabled);

$padding-base: var(--padding-2n);
$border-radius: var(--border-radius-small);
$font-size-xxs: var(--font-size-label);
$font-size-xs: var(--font-size-primary);
$font-size-sm: var(--font-size-middle); 

$opacity-active: 0.6; // 组件点击态透明度
$opacity: 0.1; // 组件背景透明度

$color-secondary: $color-disabled-5;
$text-secondary-color: $color-secondary; // 次要文字色
$background-secondary-color: $color-secondary;
$border-secondary-color: $color-secondary;

$color-brand: $color-primary-5;
$text-primary-color: $color-brand; // 主要文字色
$background-primary-color: $color-brand;
$border-primary-color: $color-brand;

$color-success: $color-success-5;
$text-success-color: $color-success; // 成功文字色
$background-success-color: $color-success;
$border-success-color: $color-success;

$color-warning: $color-warning-5;
$text-warning-color: $color-warning; // 警示文字色
$background-warning-color: $color-warning;
$border-warning-color: $color-warning;

$color-danger: $color-danger-5;
$text-danger-color: $color-danger; // 错误文字色
$background-danger-color: $color-danger;
$border-danger-color: $color-danger;
$border-radius-default: $border-radius;

$tag-sm-text-size: $font-size-xxs;
$tag-md-text-size: $font-size-xs;
$tag-lg-text-size: $font-size-sm;
$tag-default-text-color: $text-secondary-color;
$tag-default-background-color: $background-secondary-color;
$tag-default-border-color: $border-secondary-color;
$tag-primary-text-color: $text-primary-color;
$tag-primary-background-color: $background-primary-color;
$tag-primary-border-color: var(--color-primary6);
$tag-success-text-color: $text-success-color;
$tag-success-background-color: $background-success-color;
$tag-success-border-color: var(--color-success6);

$tag-orange-text-color: var(--color-orange);
$tag-orange-background-color: var(--color-orange);
$tag-orange-border-color: var(--color-orange);

$tag-warning-text-color: $text-warning-color;
$tag-warning-background-color: $background-warning-color;
$tag-warning-border-color: var(--color-warn6);
$tag-danger-text-color: $text-danger-color;
$tag-danger-background-color: $background-danger-color;
$tag-danger-border-color: var(--color-error6);
$tag-padding: 1px $padding-base;
$tag-outline-background-color: transparent;
$tag-border-radius: $border-radius-default;
$tag-round-border-radius: 10px;
$tag-delete-margin-left: var(--margin-2n);
