@import '../core';

$badge-dot-size: 8px;
$badge-dot-color: $error-color;
$badge-size: 24px;
$badge-info-text-size: $font-size-primary;
$badge-info-text-color: $white;
$badge-background-color: $error-color;
$badge-padding: 0 $padding-2n;
$badge-border-radius: 12px;
$badge-circle-size: 16px;

.#{$namespace}-badge {
  position: relative;
  display: inline-block;
  line-height: 1;
  vertical-align: middle;

  &__dot {
    position: absolute;
    width: $badge-dot-size;
    height: $badge-dot-size;
    top: 0;
    right: 0;
    transform: translateX(50%) translateY(-50%);
    background-color: $badge-dot-color;
    border-radius: 100%;
  }

  &__circle {
    position: absolute;
    width: $badge-circle-size;
    height: $badge-circle-size;
    top: 0;
    right: 0;
    transform: translateX(50%) translateY(-50%);
    background-color: $badge-dot-color;
    border-radius: 100%;
    color: $badge-info-text-color;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
  }

  &__info {
    position: absolute;
    font-size: $badge-info-text-size;
    color: $badge-info-text-color;
    min-width: $badge-size;
    height: $badge-size;
    line-height: $badge-size;
    top: 0;
    right: 0;
    transform: translateX(50%) translateY(-50%);
    padding: $badge-padding;
    background-color: $badge-background-color;
    text-align: center;
    border-radius: $badge-border-radius;
    box-sizing: border-box;
  }

  &__info--square {
    position: absolute;
    transform: translateX(0%) translateY(0%);
    padding: $badge-padding;
    background-color: $badge-background-color;
    text-align: center;
    box-sizing: border-box;
    border-radius: 0;
  }
}