@import '../core';

// base
$button-icon-margin-right: $margin-2n;
$button-font-weight: $font-size-primary;
$button-border-default: $border-solid-1;

// 默认按钮
$button-font-color-default: $primary-color;
$button-border-color-default: $primary-color;
$button-background-color-default: $white;
$button-border-radius-default: $border-radius-small;
// 默认-hover
$button-font-color-default-hover: $primary-color;
$button-border-color-default-hover: $primary-color;
$button-background-color-default-hover: $primary-color10;
// 默认-focus
$button-font-color-default-focus: $primary-color;
$button-border-color-default-focus: $primary-color;
$button-background-color-default-focus: $white;
// 默认-禁用状态
$button-font-color-default-disabled: $disabled-color;
$button-background-color-default-disabled: $disabled-color5;
$button-border-color-default-disabled: $disabled-color;

// 主要按钮
$button-font-color-primary: $white;
$button-border-color-primary: $primary-color;
$button-background-color-primary: $primary-color;
// 主要按钮-hover
$button-font-color-primary-hover: $white;
$button-border-color-primary-hover: $primary-color;
$button-background-color-primary-hover: $primary-color6;
// 主要按钮-focus
$button-font-color-primary-focus: $white;
$button-background-color-primary-focus: $primary-color;
// 主要按钮-禁用状态
$button-font-color-primary-disabled: $white;
$button-background-color-primary-disabled: $disabled-color;
$button-border-color-primary-disabled: $disabled-color;

// 次要按钮
$button-font-color-secondary: $white;
$button-border-color-secondary: $primary-disabled-color;
$button-background-color-secondary: $primary-disabled-color;
// 次要按钮-hover
$button-font-color-secondary-hover: $white;
$button-border-color-secondary-hover: $primary-color6;
$button-background-color-secondary-hover: $primary-color6;
// 次要按钮-focus
$button-font-color-secondary-focus: $white;
$button-background-color-secondary-focus: $primary-disabled-color;
// 次要按钮-禁用状态
$button-font-color-secondary-disabled: $white;
$button-background-color-secondary-disabled: $disabled-color;
$button-border-color-secondary-disabled: $disabled-color;

// 危险按钮
$button-font-color-danger: $white;
$button-border-color-danger: $error-color;
$button-background-color-danger: $error-color;
// 危险按钮-hover
$button-font-color-danger-hover: $white;
$button-border-color-danger-hover: $error-color;
$button-background-color-danger-hover: $error-color6;
// 危险按钮-focus
$button-font-color-danger-focus: $white;
$button-background-color-danger-focus: $error-color;
// 危险按钮-禁用状态
$button-font-color-danger-disabled: $white;
$button-background-color-danger-disabled: $disabled-color;
$button-border-color-danger-disabled: $disabled-color;

// 警告按钮
$button-font-color-warn: $white;
$button-border-color-warn: $warn-color;
$button-background-color-warn: $warn-color;
// 警告按钮-hover
$button-font-color-warn-hover: $white;
$button-border-color-warn-hover: $warn-color;
$button-background-color-warn-hover: $warn-color6;
// 警告按钮-focus
$button-font-color-warn-focus: $white;
$button-background-color-warn-focus: $warn-color;
// 警告按钮-禁用状态
$button-font-color-warn-disabled: $white;
$button-background-color-warn-disabled: $disabled-color;
$button-border-color-warn-disabled: $disabled-color;

// 信息按钮
$button-font-color-info: $text-color-regular;
$button-border-color-info: $text-bg-color2;
$button-background-color-info: $text-bg-color2;
// 信息按钮-hover
$button-font-color-info-hover: $primary-color;
$button-border-color-info-hover: $text-bg-color2;
$button-background-color-info-hover: $text-bg-color2;
// 信息按钮-focus
$button-font-color-info-focus: $text-color-regular;
$button-background-color-info-focus: $text-bg-color2;
// 信息按钮-禁用状态
$button-font-color-info-disabled: $text-color-regular;
$button-background-color-info-disabled: $disabled-color;
$button-border-color-info-disabled: $disabled-color;

// 文字按钮
$button-font-color-text: $text-color-secondary;
$button-border-color-text: transparent;
$button-background-color-text: transparent;
$button-font-weight-text: $font-weight-light;
// 文字按钮-hover
$button-font-color-text-hover: $primary-color;
$button-border-color-text-hover: transparent;
$button-background-color-text-hover: transparent;
// 文字按钮-focus
$button-font-color-text-focus: $text-color-secondary;
$button-background-color-text-focus: transparent;
$button-font-weight-text-focus: $font-weight-regular;
// 文字按钮-禁用状态
$button-font-color-text-disabled: $disabled-color;
$button-background-color-text-disabled: transparent;
$button-border-color-text-disabled: transparent;

// 虚线按钮
$button-border-dashed: 1px dashed;

// 圆形按钮
$button-border-radius-circle: 50%;
$button-padding-circle: $padding-10;

// 尺寸-large
$button-height-large: 40px;
$button-padding-vertical-large: $padding-10;
;
$button-padding-horizontal-large: $padding-2n;
$button-font-size-large: $font-size-middle;
// 尺寸-medium
$button-height-medium: 36px;
$button-padding-vertical-medium: $padding-2n;
$button-padding-horizontal-medium: $padding-2n;
$button-font-size-medium: $font-size-primary;
// 尺寸-small
$button-height-small: 30px;
$button-padding-vertical-small: $padding-2n;
$button-padding-horizontal-small: $padding-2n;
$button-font-size-small: $font-size-primary;
// 尺寸-mini
$button-height-mini: 24px;
$button-padding-vertical-mini: $padding-1n;
$button-padding-horizontal-mini: $padding-1n;
$button-font-size-mini: $font-size-small;

@mixin utils-user-select($value) {
  -moz-user-select: $value;
  -webkit-user-select: $value;
  -ms-user-select: $value;
}

@mixin utils-clearfix {
  $selector: &;

  @at-root {

    #{$selector}::before,
    #{$selector}::after {
      display: table;
      content: "";
    }

    #{$selector}::after {
      clear: both;
    }
  }
}

@mixin utils-vertical-center {
  $selector: &;

  @at-root {
    #{$selector}::after {
      display: inline-block;
      content: "";
      height: 100%;
      vertical-align: middle;
    }
  }
}

@mixin utils-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin button-size($padding-vertical,
  $padding-horizontal,
  $font-size,
  $border-radius,
  $height: false) {
  @if $height {
    height: $height;
    padding: 0 $padding-horizontal;
  }

  @else {
    padding: $padding-vertical $padding-horizontal;
  }

  font-size: $font-size;
  border-radius: $border-radius;

  &.is-round {
    padding: $padding-vertical $padding-horizontal;
  }
}

@keyframes rotating {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}

@include b(button) {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  cursor: pointer;
  color: $button-font-color-default;
  background: $button-background-color-default;
  border: $button-border-default;
  border-color: $button-border-color-default;
  border-radius: $button-border-radius-default;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  transition: 0.1s;
  font-weight: $button-font-weight;
  @include utils-user-select(none);

  &::after {
    content: none;
  }

  @include when(mouseenter) {
    color: $button-font-color-default-hover;
    background: $button-background-color-default-hover;
    border-color: $button-border-color-default-hover;
  }

  // .button-hover为taro input中自带的点击class
  &.button-hover {
    color: $button-font-color-default-hover;
    background: $button-background-color-default-hover;
    border-color: $button-border-color-default-hover;
  }

  @include when(mousedown) {
    color: $button-font-color-default-focus;
    background: $button-background-color-default-focus;
    border-color: $button-border-color-default-focus;
  }

  @include when(loading) {
    position: relative;
    pointer-events: none;

    .dzq-spin {
      display: inline-block;
      margin-right: $button-icon-margin-right;
    }
  }

  @include when(full) {
    display: block;
    border-radius: 0;
    width: 100%;
  }

  @include when(disabled) {

    &,
    &:hover,
    &:focus {
      color: $button-font-color-default-disabled;
      cursor: not-allowed;
      background-image: none;
      background-color: $button-background-color-default-disabled;
      border-color: $button-border-color-default-disabled;
    }

    &.el-button--text {
      background-color: transparent;
    }
  }

  @include when(circle) {
    padding: $button-padding-circle;
    border-radius: $button-border-radius-circle;
    min-width: auto;
  }

  @include m(large) {
    @include button-size($button-padding-vertical-large,
      $button-padding-horizontal-large,
      $button-font-size-large,
      $button-border-radius-default,
      $button-height-large);
  }

  @include m(medium) {
    @include button-size($button-padding-vertical-medium,
      $button-padding-horizontal-medium,
      $button-font-size-medium,
      $button-border-radius-default,
      $button-height-medium);
  }

  @include m(small) {
    @include button-size($button-padding-vertical-small,
      $button-padding-horizontal-small,
      $button-font-size-small,
      $button-border-radius-default,
      $button-height-small);
  }

  @include m(mini) {
    @include button-size($button-padding-vertical-mini,
      $button-padding-horizontal-mini,
      $button-font-size-mini,
      $button-border-radius-default,
      $button-height-mini);
  }

  @include m(primary) {
    color: $button-font-color-primary;
    background-color: $button-background-color-primary;
    border-color: $button-border-color-primary;

    @include when(mouseenter) {
      color: $button-font-color-primary-hover;
      background: $button-background-color-primary-hover;
      border-color: $button-background-color-primary-hover;
    }

    &.button-hover {
      color: $button-font-color-primary-hover;
      background: $button-background-color-primary-hover;
      border-color: $button-background-color-primary-hover;
    }

    @include when(mousedown) {
      color: $button-font-color-primary-focus;
      background: $button-background-color-primary-focus;
      border-color: $button-background-color-primary-focus;
    }

    @include when(disabled) {

      &,
      &:hover,
      &:focus {
        color: $button-font-color-primary-disabled;
        cursor: not-allowed;
        background-image: none;
        background-color: $button-background-color-primary-disabled;
        border-color: $button-border-color-primary-disabled;
      }

      &.el-button--text {
        background-color: transparent;
      }
    }
  }

  @include m(secondary) {
    color: $button-font-color-secondary;
    background-color: $button-background-color-secondary;
    border-color: $button-border-color-secondary;

    @include when(mouseenter) {
      color: $button-font-color-secondary-hover;
      background: $button-background-color-secondary-hover;
      border-color: $button-background-color-secondary-hover;
    }

    &.button-hover {
      color: $button-font-color-secondary-hover;
      background: $button-background-color-secondary-hover;
      border-color: $button-background-color-secondary-hover;
    }

    @include when(mousedown) {
      color: $button-font-color-secondary-focus;
      background: $button-background-color-secondary-focus;
      border-color: $button-background-color-secondary-focus;
    }

    @include when(disabled) {

      &,
      &:hover,
      &:focus {
        color: $button-font-color-secondary-disabled;
        cursor: not-allowed;
        background-image: none;
        background-color: $button-background-color-secondary-disabled;
        border-color: $button-border-color-secondary-disabled;
      }

      &.el-button--text {
        background-color: transparent;
      }
    }
  }

  @include m(danger) {
    color: $button-font-color-danger;
    background-color: $button-background-color-danger;
    border-color: $button-border-color-danger;

    @include when(mouseenter) {
      color: $button-font-color-danger-hover;
      background: $button-background-color-danger-hover;
      border-color: $button-background-color-danger-hover;
    }

    &.button-hover {
      color: $button-font-color-danger-hover;
      background: $button-background-color-danger-hover;
      border-color: $button-background-color-danger-hover;
    }

    @include when(mousedown) {
      color: $button-font-color-danger-focus;
      background: $button-background-color-danger-focus;
      border-color: $button-background-color-danger-focus;
    }

    @include when(disabled) {

      &,
      &:hover,
      &:focus {
        color: $button-font-color-danger-disabled;
        cursor: not-allowed;
        background-image: none;
        background-color: $button-background-color-danger-disabled;
        border-color: $button-border-color-danger-disabled;
      }

      &.el-button--text {
        background-color: transparent;
      }
    }
  }

  @include m(warn) {
    color: $button-font-color-warn;
    background-color: $button-background-color-warn;
    border-color: $button-border-color-warn;

    @include when(mouseenter) {
      color: $button-font-color-warn-hover;
      background: $button-background-color-warn-hover;
      border-color: $button-background-color-warn-hover;
    }

    &.button-hover {
      color: $button-font-color-warn-hover;
      background: $button-background-color-warn-hover;
      border-color: $button-background-color-warn-hover;
    }

    @include when(mousedown) {
      color: $button-font-color-warn-focus;
      background: $button-background-color-warn-focus;
      border-color: $button-background-color-warn-focus;
    }

    @include when(disabled) {

      &,
      &:hover,
      &:focus {
        color: $button-font-color-warn-disabled;
        cursor: not-allowed;
        background-image: none;
        background-color: $button-background-color-warn-disabled;
        border-color: $button-border-color-warn-disabled;
      }

      &.el-button--text {
        background-color: transparent;
      }
    }
  }


  @include m(info) {
    color: $button-font-color-info;
    background-color: $button-background-color-info;
    border-color: $button-border-color-info;

    @include when(mouseenter) {
      color: $button-font-color-info-hover;
      background: $button-background-color-info-hover;
      border-color: $button-background-color-info-hover;
    }

    &.button-hover {
      color: $button-font-color-info-hover;
      background: $button-background-color-info-hover;
      border-color: $button-background-color-info-hover;
    }

    @include when(mousedown) {
      color: $button-font-color-info-focus;
      background: $button-background-color-info-focus;
      border-color: $button-background-color-info-focus;
    }

    @include when(disabled) {

      &,
      &:hover,
      &:focus {
        color: $button-font-color-secondary-disabled;
        cursor: not-allowed;
        background-image: none;
        background-color: $button-background-color-secondary-disabled;
        border-color: $button-border-color-secondary-disabled;
      }

      &.el-button--text {
        background-color: transparent;
      }
    }
  }

  @include m(dashed) {
    border: $button-border-dashed;

    @include when(mouseenter) {
      color: $button-font-color-default-hover;
      background: $button-background-color-default-hover;
      border-color: $button-border-color-default-hover;
    }

    &.button-hover {
      color: $button-font-color-default-hover;
      background: $button-background-color-default-hover;
      border-color: $button-border-color-default-hover;
    }

    @include when(mousedown) {
      color: $button-font-color-default-focus;
      background: $button-background-color-default-focus;
      border-color: $button-border-color-default-focus;
    }

    @include when(disabled) {

      &,
      &:hover,
      &:focus {
        color: $button-font-color-default-disabled;
        cursor: not-allowed;
        background-image: none;
        background-color: $button-background-color-default-disabled;
        border-color: $button-border-color-default-disabled;
      }
    }
  }

  @include m(text) {
    color: $button-font-color-text;
    background-color: $button-background-color-text;
    border-color: $button-border-color-text;

    @include when(mouseenter) {
      color: $button-font-color-text-hover;
      background: $button-background-color-text-hover;
      border-color: $button-background-color-text-hover;
    }

    &.button-hover {
      color: $button-font-color-text-hover;
      background: $button-background-color-text-hover;
      border-color: $button-background-color-text-hover;
      font-weight: $button-font-weight-text-focus;
    }

    @include when(mousedown) {
      color: $button-font-color-text-focus;
      background: $button-background-color-text-focus;
      border-color: $button-background-color-text-focus;
      font-weight: $button-font-weight-text-focus;
    }

    @include when(disabled) {

      &,
      &:hover,
      &:focus {
        color: $button-font-color-text-disabled;
        background-color: $button-background-color-text-disabled;
        border-color: $button-border-color-text-disabled;
        cursor: not-allowed;
        background-image: none;
      }

      &.button-hover {
        color: $button-font-color-text-disabled;
        background-color: $button-background-color-text-disabled;
        border-color: $button-border-color-text-disabled;
        font-weight: $button-font-weight-text;
      }

      &.el-button--text {
        background-color: transparent;
      }
    }
  }
}
