$divider-text-backgroud-color: var(--color-white);
$divider-vertical-margin: var(--margin-6n);
$divider-horizontal-padding: var(--padding-6n);
$divider-text-distance: var(--padding-6n); // 文字距离左/右两边的边距
$divider-horizontal-margin-vertical: var(--margin-2n);

$divider-border: var(--border-border);
$divider-border-dashed: var(--border-color-dotted-border);