$dzq-avatar-size-big: 120px;
$dzq-avatar-size-lg: 72px;
$dzq-avatar-size-sm: 24px;
$dzq-avatar-size-md: 38px;
$dzq-avatar-bg-color: var(--color-text-secondary);
$dzq-avatar-color: var(--color-white);

$dzq-avatar-font-size-md: var(--font-size-primary);
$dzq-avatar-font-size-lg: 36px;
$dzq-avatar-font-size-big: 48px;
$dzq-avatar-font-size-sm: var(--font-size-label);
