.page {
    .box-row {
      position: relative;
      flex: 1;
      color: #ffffff;
      min-height: 10px;
      margin-bottom: 0;
      background: #aacfff;
      border: 1px solid #ffffff;
      border-radius: 2px;
      overflow: hidden;
      text-align: center;
      box-sizing: border-box;
    }
    .box,
    .box-first,
    .box-nested,
    .box-large {
      position: relative;
      flex: 1;
      color: #ffffff;
      min-height: 10px;
      margin-bottom: 0;
      background: #aacfff;
      border: 1px solid #ffffff;
      border-radius: 2px;
      overflow: hidden;
      text-align: center;
      box-sizing: border-box;
    }
    .box-first {
      font-size: 12px;
      padding: 4px;
      background: #559eff;
      border-color: #aacfff;
    }
    .box-nested {
      font-size: 12px;
      padding: 4px;
      background: #006eff;
      border-color: #aacfff;
    }
    .box-large {
      height: 80px;
    }
    .box-container {
      padding: 5px;
      box-sizing: border-box;
    }
    .code {
      font-size: 10px;
      color: #aacfff;
      margin: 8px 0;
    }
    .box-wrap {
      padding: 5px 0;
      box-sizing: border-box;
    }
  }
  