// base
$button-icon-margin-right: var(--margin-2n);
$button-font-weight: var(--font-size-primary);
$button-border-default: var(--border-border);

// 默认按钮
$button-font-color-default: var(--color-text-secondary);
$button-border-color-default: var(--color-text-secondary);
$button-background-color-default: var(--color-white);
$button-border-radius-default: var(--border-radius-small);
// 默认-hover
$button-font-color-default-hover: var(--color-primary6);
$button-border-color-default-hover: var(--color-primary6);
$button-background-color-default-hover: var(--color-white);
// 默认-focus
$button-font-color-default-focus: var(--color-primary);
$button-border-color-default-focus: var(--color-primary);
$button-background-color-default-focus: var(--color-white);
// 默认-禁用状态
$button-font-color-default-disabled: var(--color-disabled);
$button-background-color-default-disabled: var(--color-disabled5);
$button-border-color-default-disabled: var(--color-disabled);

// 主要按钮
$button-font-color-primary: var(--color-white);
$button-border-color-primary: var(--color-primary);
$button-background-color-primary: var(--color-primary);
// 主要按钮-hover
$button-font-color-primary-hover: var(--color-white);
$button-border-color-primary-hover: var(--color-primary);
$button-background-color-primary-hover: var(--color-primary6);
// 主要按钮-focus
$button-font-color-primary-focus: var(--color-white);
$button-background-color-primary-focus: var(--color-primary);
// 主要按钮-禁用状态
$button-font-color-primary-disabled: var(--color-white);
$button-background-color-primary-disabled: var(--color-disabled);
$button-border-color-primary-disabled: var(--color-disabled);

// 危险按钮
$button-font-color-danger: var(--color-white);
$button-border-color-danger: var(--color-error);
$button-background-color-danger: var(--color-error);
// 危险按钮-hover
$button-font-color-danger-hover: var(--color-white);
$button-border-color-danger-hover: var(--color-error);
$button-background-color-danger-hover: var(--color-error6);
// 危险按钮-focus
$button-font-color-danger-focus: var(--color-white);
$button-background-color-danger-focus: var(--color-error);
// 危险按钮-禁用状态
$button-font-color-danger-disabled: var(--color-white);
$button-background-color-danger-disabled: var(--color-disabled);
$button-border-color-danger-disabled: var(--color-disabled);

// 警告按钮
$button-font-color-warn: var(--color-white);
$button-border-color-warn: var(--color-warn);
$button-background-color-warn: var(--color-warn);
// 警告按钮-hover
$button-font-color-warn-hover: var(--color-white);
$button-border-color-warn-hover: var(--color-warn);
$button-background-color-warn-hover: var(--color-warn6);
// 警告按钮-focus
$button-font-color-warn-focus: var(--color-white);
$button-background-color-warn-focus: var(--color-warn);
// 警告按钮-禁用状态
$button-font-color-warn-disabled: var(--color-white);
$button-background-color-warn-disabled: var(--color-disabled);
$button-border-color-warn-disabled: var(--color-disabled);

// 文字按钮
$button-font-color-text: var(--color-primary);
$button-border-color-text: var(--color-white);
$button-background-color-text: var(--color-white);
$button-font-weight-text: var(--font-weight-light);
// 文字按钮-hover
$button-font-color-text-hover: var(--color-primary6);
$button-border-color-text-hover: var(--color-white);
$button-background-color-text-hover: var(--color-white);
// 文字按钮-focus
$button-font-color-text-focus: var(--color-primary);
$button-background-color-text-focus: var(--color-white);
$button-font-weight-text-focus: var(--font-weight-regular);
// 文字按钮-禁用状态
$button-font-color-text-disabled: var(--color-disabled);
$button-background-color-text-disabled: var(--color-white);
$button-border-color-text-disabled: var(--color-white);

// 虚线按钮
$button-border-dashed: 1px dashed;

// 圆形按钮
$button-border-radius-circle: 50%;
$button-padding-circle: var(--padding-10);

// 尺寸-large
$button-height-large: 40px;
$button-padding-vertical-large: var(--padding-10);;
$button-padding-horizontal-large: var(--padding-2n);
$button-font-size-large: var(--font-size-middle);
// 尺寸-medium
$button-height-medium: 36px;
$button-padding-vertical-medium: var(--padding-2n);
$button-padding-horizontal-medium: var(--padding-2n);
$button-font-size-medium: var(--font-size-primary);
// 尺寸-small
$button-height-small: 30px;
$button-padding-vertical-small: var(--padding-2n);
$button-padding-horizontal-small: var(--padding-2n);
$button-font-size-small: var(--font-size-primary);
// 尺寸-mini
$button-height-mini: 24px;
$button-padding-vertical-mini: var(--padding-1n);
$button-padding-horizontal-mini: var(--padding-1n);
$button-font-size-mini: var(--font-size-label);
