$spin-icon-size: var(--font-size-large);
$spin-text-color: var(--color-text-secondary);
$spin-text-size: var(--font-size-primary);
$spin-circular-animation-duration: 0.6s;
$spin-spinner-animation-duration: 1.2s;
$spin-text-margin: var(--margin-2n);