
.list {
    width: 100%;
    height: 100%;
    .list-item {
        border-top: 1px solid #e1e1e1;
        border-bottom: 1px solid #e1e1e1;
        background: #fff;
        margin-top: 10px;
        padding: 15px;

        .list-item-h {
            display: flex;
            align-items: flex-start;

            .img {
                width: 40px;
                height: 40px;
                overflow: hidden;
                border-radius: 50%;
                flex-shrink: 0;

                Image {
                    display: block;
                    width: 100%;
                    height: auto;
                }

                .default-avatar {
                    background: rgb(213, 229, 160);
                    color: #fff;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                    width: 100%;
                    font-size: 18px;
                }
            }

            .info {
                margin-left: 9px;
                flex-grow: 0;
                width: 100%;
                overflow: hidden;

                .name {
                    font-weight: 700;
                    line-height: 18px;
                    color: #333;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    font-size: 15px;
                }

                .sub-box {
                    color: #aaa;
                    margin-top: 5px;
                    display: flex;
                    align-items: center;
                    flex-grow: 0;
                    width: 100%;
                    overflow: hidden;

                    .date {
                        font-size: 13px;
                        font-weight: 400;
                        white-space: nowrap;
                    }

                    .question-box {
                        margin-left: 5px;
                        font-size: 13px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;


                        .question-box-content {
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;

                            Text {
                                color: var(--color-primary);
                            }
                        }
                    }
                }


            }
        }

        .list-item-content {
            padding-top: 10px;

            .title {
                font-size: 16px;
                margin-bottom: 6px;

                Text {
                    color: var(--color-primary);
                }
            }

            .image-list {
                margin-top: 5px;
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                flex-wrap: wrap;

                .image-item {
                    max-width: 80%;
                    max-height: 80%;
                    background-position: center center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    margin-top: 5px;
                    &:not(:nth-child(3n+3)) {
                        margin-right: 5px;
                    }
                    &.image-count-2{
                        height: 105px;
                        width: 48%;
                    }
                    &.image-count-3{
                        height: 105px;
                        width: 32%;
                    }

                    

                    Image {
                        display: block;
                        width: 100%;
                        opacity: 0;
                    }
                }
            }

            .qq-emotion {
                display: inline-block;
                vertical-align: top;
                height: 20px;
                width: 20px;
            }

            .video-main {
                position: relative;
                height: 200px !important;
                width: 50%;
                margin-top: 10px;
                .play{
                    width: 40px;
                    height: 40px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
                .bgimg {
                    width: 100%;
                    height: 100%;
                    background-position: center center;
                    background-size: cover;
                    background-repeat: no-repeat;
                }
            }
        }

        .list-item-f {
            margin-top: 30px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: #aaa;

            .item {
                display: flex;
                align-items: center;

                .qui-icon {
                    font-size: 14px;
                    margin-right: 7px;
                }

                Text {
                    font-size: 14px;
                }
            }
        }
    }

}
