$background-danger-color: #F50026;
$text-base-inverse-color: var(--color-white);

$badge-dot-size: 8px;
$badge-dot-color: $background-danger-color;
$badge-size: 24px;
$badge-info-text-size: var(--font-size-primary);
$badge-info-text-color: $text-base-inverse-color;
$badge-background-color: $background-danger-color;
$badge-padding: 0 var(--padding-2n);
$badge-border-radius: 12px;
$badge-circle-size: 16px;


