@keyframes zoomOut {
  from {
    opacity: 1;
    transform: scale(1), translate(-50%, -50%);
  }

  50% {
    opacity: 0;
    transform: scale(0.5), translate(-50%, -50%);
  }

  to {
    opacity: 0;
    transform: scale(0), translate(-50%, -50%);
  }
}

.animated-zoomOut {
  animation-name: zoomOut;
}