/**
 * 默认主题
 */
$light: (
  // 按钮主色，文本强调主色
  --color-primary: #2469f6,
  --color-primary2: #3977f6,
  --color-primary3: #4f87f7,
  --color-primary4: #6595f8,
  // button disabled
  --color-primary5: #7ba5f9,
  --color-primary6: #91b3fa,
  --color-primary7: #a7c3fb,
  // checkbox 选中的背景颜色
  --color-primary8: #bcd1fc,
  --color-primary9: #d3e1fd,
  --color-primary10: #e8f0fe,
  // --color-primary-opacity: rgba(#2469f6, 0.1), // 主要是 tag 组件的，暂时注释，等重构的时候再调整
  // --color-primary-opacity: rgba(#2469f6, 0.6),

  // h5邀请页面关闭按钮背景
  --color-primary20: #0545c8,

  --color-success: #3ac15f,
  --color-success2: #4dc76e,
  --color-success3: #61cd7f,
  --color-success4: #74d38e,
  --color-success5: #88da9f,
  --color-success6: #9ce0ae,
  --color-success7: #b0e6bf,
  --color-success8: #c3ecce,
  --color-success9: #d7f3df,
  --color-success10: #ebf9ef,
  // --color-success-opacity1: rgba(#3ac15f, 0.1),
  // --color-success-opacity6: rgba(#3ac15f, 0.6),

  // TODO: 这里的色系和primary有重复，需要确认问题
  --color-info: #5087f8,
  --color-info2: #739ff9,
  --color-info3: #a7c3fb,
  --color-info4: #cadbfd,
  --color-info5: #edf3fe,

  --color-error: #e02433,
  --color-error2: #e33947,
  --color-error3: #e64f5b,
  --color-error4: #e9656f,
  --color-error5: #ec7b84,
  --color-error6: #ef9198,
  --color-error7: #f3a7ad,
  --color-error8: #f6bcc1,
  --color-error9: #f9d3d6,
  --color-error10: #fce8ea,
  // --color-error-opacity1: rgba(#e02433, 0.1),
  // --color-error-opacity6: rgba(#e02433, 0.6),

  --color-warn: #ffc300,
  --color-warn2: #ffc819,
  --color-warn3: #ffcf33,
  --color-warn4: #ffd54c,
  --color-warn5: #ffdb66,
  --color-warn6: #ffe17f,
  --color-warn7: #ffe799,
  --color-warn8: #ffedb2,
  --color-warn9: #fff3cc,
  --color-warn10: #fff9e5,
  // --color-warn-opacity1: rgba(#ffc300, 0.1),
  // --color-warn-opacity6: rgba(#ffc300, 0.6),

  --color-disabled: #c5c6cb,
  --color-disabled2: #d0d1d5,
  --color-disabled3: #dcdde0,
  --color-disabled4: #e8e8ea,
  --color-disabled5: #f4f4f5,
  --color-white: #fff,
  --color-black: #000,

  // 标签里面用到的：悬赏、付费等
  --color-orange: #f66524,
  --color-orange2: #f67439,
  --color-orange3: #f7834f,
  --color-orange4: #f89365,
  --color-orange5: #f9a27b,
  --color-orange6: #fab191,
  --color-orange7: #fbc1a7,
  --color-orange8: #fcd0bc,
  --color-orange9: #fde0d3,
  --color-orange10: #feefe8,
  // --color-orange-opacity1: rgba(#f66524, 0.1),
  // --color-orange-opacity6: rgba(#f66524, 0.6),

  // 边框颜色
  --border-line-color: #eee,

  // 边框引用颜色
  --border-color-blockquote: #dbdbdb,

  // 阴影颜色
  --shadow-color: #c5c9d5,
  --shadow-color2: #f1f3f4,

  // 正文主色，比如：正文标题、内容
  --color-text-primary: #0b0b37,
  // 二级内容文字颜色
  --color-text-regular: #4f5a70,
  // 次要文字颜色，比如：时间、置顶文字、操作文字（列表中的赞、评论、分享、数字）
  --color-text-secondary: #8590a6,
  // border hover 的颜色还有 loading 文字，copyright 和这个一致
  --color-text-placeholder: #c5c6cb,
  --color-box-placeholder: #f1f3f4,
  // 引用文字颜色
  --color-text-blockquote: #6a737d,

  // pc，移动都是统一这个背景色；另外 // 评论框，评论，附件，语音，模块与模块之间的间距背景色
  --background-color: #f5f7f8,

  --background-color-text: #f9fafb,
  // 灰色标签（编辑器付费、红包设置之后的显示的背景色），灰色按钮背景色
  --background-color-text2: #eff1f3,

  // 遮罩背景统一使用这个
  --mask-background-color: rgba(0, 0, 0, 0.5),
);
