$alert-text-size: 14px;
$alert-padding: 12px 16px;
$alert-info-text-color: #c5c6cb;
$alert-info-background-color: #f4f4f5;
$alert-success-text-color: #57bd6a;
$alert-success-background-color: #ddf2e1;
$alert-warning-text-color: #f6c443;
$alert-warning-background-color: #fdf3d9;
$alert-danger-text-color: #de2839;
$alert-danger-background-color: #F9d3d6;
