$toast-z-index: var(--zindex-toast);
$toast-mask-z-index: 1750;
$toast-padding: var(--padding-5n) var(--padding-6n);
$toast-background-color: rgba(#000, 0.5);
$toast-border-radius: var(--border-radius-small);
$toast-font-color: var(--color-white);
$toast-icon-margin-bottom: var(--margin-2n);
$toast-font-size: var(--font-size-middle);
$toast-distance-top: var(--margin-10);
$toast-distance-center: 50%;
$toast-distance-bootom: var(--margin-10);
