.button {
    margin-top: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.connect {
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text {
    font-size: 14px;
    margin: 8px 0px;
    color: #888;
}